<style>
  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #dddddd;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .navbar div a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: darkblue;
  }
  
  .navbar div a:hover {
    background-color: #c4c4c4;
    text-decoration: underline;
  }
</style>

<div class="navbar">
  <div><a href='{{ site.baseurl }}/'>HOME</a></div>
  <div><a href='{{ site.baseurl }}/WD01/'>WD01</a></div>
  <div><a href='{{ site.baseurl }}/WD02/'>WD02</a></div>
  <div><a href='{{ site.baseurl }}/WD03/'>WD03</a></div>
  <div><a href='{{ site.baseurl }}/WD04/'>WD04</a></div>
  <div><a href='{{ site.baseurl }}/WD05/'>WD05</a></div>
  <div><a href='{{ site.baseurl }}/WD06/'>WD06</a></div>
  <div><a href='{{ site.baseurl }}/WD07/'>WD07</a></div>
  <div><a href='{{ site.baseurl }}/WD08/'>WD08</a></div>
  <div><a href='{{ site.baseurl }}/WD09/'>WD09</a></div>
  <div><a href='{{ site.baseurl }}/WD10/'>WD10</a></div>
  <div><a href='{{ site.baseurl }}/TXT/mypubkey.txt'>KEY</a></div>
  <div><a href='{{ site.baseurl }}/TXT/myrank.txt'>RANK</a></div>
  <div><a href='{{ site.baseurl }}/TXT/mylog.txt'>LOG</a></div>
  <div><a href='{{ site.urlgithub }}'>GitHub</a></div>
</div>